.progress-container-wrapper {
  display: flex;
  align-items: center;
  width: 80%; /* Adjust this width based on your layout */
  margin: auto; /* Center the container on the page */
}

.progress-container {
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
  flex-grow: 1; 
}

.progress-bar {
  height: 100%;
  transition: margin-right 0.5s ease-in-out;
  margin-right: 100%;
  width: 100%;
}

.timer-text {
  margin-top: 20px;
  font-size: 40px;
}

.timer-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
