.underline-input-container {
  display: flex;
  align-items: center;
}

.underline-input {
  border: none;
  border-bottom: 2px solid #ddd;
  background-color: transparent;
  padding: 8px;
  font-size: 16px;
  outline: none;
  color: #fff;
  flex-grow: 2;
}

.underline-input:focus {
  border-color: #ff8000;
}

.action-buttons {
  display: flex;
  gap: 8px;
}

.action-button {
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
}

.action-button svg {
  width: 24px;
  height: 24px;
}

ul {
  display: block;
  list-style-type: none;
  margin-block-start: 2em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  padding-inline: 20px;
  border: 3px solid #ddd;
  border-radius: 16px;
  margin-left: -48px;
  margin-right: 30px;
  margin-bottom: 10px;
}
li > button {
  margin-left: 8px; /* Adjust as needed for spacing between text and button */
}
